@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/cmsres_20160223_844ba5fb-cd93-4862-a533-b1ad27cfc2d4.jpeg);
}

.box {
    width: 400px;
    height: 400px;
    margin: 0px auto;
    margin-top: 200px;
    position: relative;
    div {
        display: flex;
        .heng {
            display: flex;
        }
        li {
            width: 100px;
            height: 100px;
            border: 1px solid #000;
            box-sizing: border-box;
            background-color: #fff;
            background-size: 500%;
            background-image: url(../images/src=http___aliyunzixunbucket.oss-cn-beijing.aliyuncs.com_jpg_a0e87a40c2ceaba97b4d16bfe342bc77.jpg_x-oss-process=image_resize\,p_100_auto-orient\,1_quality\,q_90_format\,jpg_watermark\,image_eXVuY2VzaGk=\,t_100&refer=http___aliyunzixunbucket.oss-.jpeg);
            &.xuanzhong {
                border: 3px solid rgb(231, 34, 34);
            }
        }
    }
    .two {
        flex-direction: row-reverse;
        .heng {
            flex-direction: row-reverse;
        }
        .fan {
            display: flex;
            flex-direction: column-reverse;
            margin-top: -200px;
        }
    }
    button {
        border: 0;
        top: 37%;
        left: 37%;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 50px;
        border-radius: 100%;
        position: absolute;
        background-color: rgb(247, 162, 162);
    }
}